.green-text {
    color: green;
  }

  .magenta-text {
    color: magenta;
  }

  .white-text {
    color: white;
  }

  .black-background {
    background-color: black;
  }

  .red-text {
    color: red;
  }

  .pink-background {
    background-color: pink;
  }